body{
    margin: 0;
    padding: 0;
}
nav {
    width: 100%;
    background-color: rgb(73, 91, 255);
    padding: 10px;
}

h1 {
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: white;
    margin: 0;
}

img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.contenido {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0 5%;
}

.caja {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4%;
    border-radius: 7px;
    width: 30%;
    flex-direction: column;
    border: 1px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin-top:6%;
    background-color: rgb(73, 91, 255);
    color: white;
    text-align: center;
    font-weight: bold;
    border-radius:7px;
}
